body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  background-color: #13141C;
  color: #FFFFFF;
}

#correct {
  background-color: #498e4b;
}

#almost {
  background-color: #bea206;
}

#error {
  background-color: #3D4054;
}